<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog.org/schema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://nlog.org/schema NLog.xsd">
	<!-- 定义日志目标 -->
	<targets>
		<!-- 文件目标 -->
		<target name="file" xsi:type="File" fileName="${basedir}/logs/APP_LOG.log"
				layout="${longdate} [${level}] ${message} ${exception}"
				keepFileOpen="false"
				maxArchiveFiles="7" />
	</targets>

	<!-- 定义规则 -->
	<rules>
		<!-- 设置日志记录规则，控制日志级别 -->
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
